<div class="header-container">
    <h2>{{categorie.lib}}</h2>
    <div class="text-underline"></div>
</div>

<div class="recent-articles-container row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-xs-12"
    ng-repeat="article in categorie.articles">
        <div class="card"
        ng-click="categorie.goToArticle(article.id)">
          <img class="card-img-top" ng-src="{{article.imageUrl}}">
          <div class="card-block">
            <h4 class="card-title">{{article.titre}}</h4>
            <p class="card-text">{{article.description | limitTo:50 }}</p>
          </div>
        </div>
    </div>
</div>