<div class="header-container">
    <h2>Disques</h2>
    <div class="text-underline"></div>
</div>

<div class="recent-articles-container row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-xs-12"
    ng-repeat="currentDisque in disques.disques">
        <div class="card" ng-click="disques.goTodisque(currentDisque.id)">
          <img class="card-img-top" ng-src="{{currentDisque.image_url}}">
          <div class="card-block">
            <h4 class="card-title">{{currentDisque.disque_title}}</h4>
          </div>
        </div>
    </div>
</div>