<div class="header-container">
    <h2>Labels</h2>
    <div class="text-underline"></div>
</div>

<div class="recent-articles-container row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-xs-12"
    ng-repeat="currentLabel in label.labels">
        <div class="card" ng-click="label.goTodisques(currentLabel.id)">
          <img class="card-img-top" ng-src="{{currentLabel.img_url}}">
          <div class="card-block">
            <h4 class="card-title">{{currentLabel.name}}</h4>
          </div>
        </div>
    </div>
</div>