<div class="row article-title">
    <div class="col-xs-12">
        <h2>{{artiste.artistesData.nom}}</h2>
        <div class="text-underline"></div>
    </div>
</div>


<div class="row article-header-image">
    <div class="col-xs-12">
        <img ng-src="{{artiste.artistesData.image_url}}" class="col">
    </div>
</div>

<div class="row article-content">
    <div class="col-xs-12">
        <p class="article-paragrtaph">{{artiste.artistesData.biographie}}</p>
    </div>
</div>

<div class="col-xs-12 soundcloud-wrapper">
    <a href="{{artiste.artistesData.sc_link}}" class="btn btn-primary btn-lg btn-block soundcloud-link">Lien SoundCloud</a>
</div>

<!-- <iframe width="720" height="405" src="https://www.youtube.com/embed/?listType=playlist&list=PLAaJEifQp9bXgvcRtVkShnacQewxKZNSV" frameborder="0" allowfullscreen> -->