<div class="container">
    <div class="carousel-container">
      <div uib-carousel>
        <div uib-slide active="1" ng-repeat="slide in home.slides track by $index"
        index="$index"
        interval="1"
        no-wrap="false">
          <img ng-src="{{slide.imageUrl}}" id="home-slide">
        </div>
      </div>
    </div>


    <div class="header-container">
        <h2>Articles Récents</h2>
        <div class="text-underline"></div>
    </div>


    <div class="recent-articles-container row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-xs-12"
        ng-repeat="article in home.articles">
            <div class="card">
              <img class="card-img-top" ng-src="{{article.imageUrl}}">
              <div class="card-block">
                <h4 class="card-title">{{article.titre}}</h4>
                <p class="card-text">{{article.preview}}</p>
              </div>
            </div>
        </div>
    </div>

</div>