.publication-editor {
    margin-top: 30px;
    padding-bottom: 50px
}


.form-control {
    margin-top: 5px;
    margin-bottom: 20px;
}



.publication-form h2 {
    margin-top: 30px !important;
    color : #333;
    font-weight: 300;
    font-size: 20px;
}


.publication-form button {
    text-align: center;
    margin-bottom: 30px;
}

.publication-form .error-line{
    text-align: center;
}
